
/* basic color background globale  #00171F / 34687D
        area color background : #007EA7;
        underline button color : #00A8E8 or #FFFFFF;
        hover text #EAF8BF or #FFFFFF

        INVALIDity COLOR : #ECA400;
        VALIDITY COLOR: #0F9E00;

        blue fade color :#27476E;
        darkblue color :#00171F;   **** Actual Global background
        darkblue fade color 
*/
.my-titled-pane > .title {
    -fx-background-color:  #1e6b72;
    -fx-border-radius: 0 0 0 0 ,0 0 0 0,0 0 0 0,0 0 0 0;
    -fx-text-fill: #EEE;
    -fx-font-weight : bold;

}

.title {
    -fx-background-color:  #1e6b72;
    -fx-border-radius: 0 0 0 0;
    -fx-text-fill: #EEE;
    -fx-font-weight : bold;
    -fx-font-size : 1.3em;

}



.my-titled-pane > .title > text {
    -fx-text-fill: #EEE;

}

.combo-box-base  
{
    -fx-text-fill: #1e6b72;
    -fx-font-weight: bold;
    -fx-background-color: transparent,transparent, transparent,transparent;
    -fx-padding: 0;
}

.title-pane{
    -fx-border-radius : 0 0 0 0 ;
    -fx-border-insets : 0 0 0 0;   
}

.titled-pane > .title 
{
    -fx-background-color: #1e6b72;
    -fx-border-radius: 0 0 0 0;
    -fx-font-weight : normal;
    -fx-text-fill : #EEE;

}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}
.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: #EEE;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.titled-pane:collapsed > .title > .arrow-button .arrow 
{
    -fx-rotate: -90;
}
.titled-pane:focused > .title 
{
    -fx-color: -fx-focus-color;
}




.jfx-button{
    -fx-background-color:#1E6B72;
    -fx-text-fill: #eee;
    -fx-min-height: 35px; 
    -fx-pref-height:35px;
    -fx-max-height:35px;
    -fx-text-fill: #eee;
    -fx-padding: 2 2 2 2;
    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.ok-button{
    -fx-background-color:#55E071;
    -fx-graphic: url('../img/checked.png');
    -fx-min-width:35;
}
.ko-button{
    -fx-background-color:#F7766F;
    -fx-graphic: url('../img/cancel.png');
    -fx-min-width:35;
}
.logo{
    -fx-background-image: url('/img/logo.png');
}
.homebtn{
    -fx-graphic : url('../img/home.png');
    -fx-graphic-text-gap : 115px;
}
.notif1btn{
    -fx-graphic : url('../img/white.png');
    -fx-background-image: url("../img/white.png");
    -fx-graphic-text-gap : 90px;
}
.notif2btn{
    -fx-graphic : url('../img/red.png');
    -fx-graphic-text-gap : 90px;
}
.leftbutton{
    -fx-background-color:#2D8099;
    -fx-min-height : 32px;
}
.leftbutton:hover{
    -fx-border-width:  0 5 0 0;
    -fx-border-color:#5af4d8;
}
.leftbutton:focused{
    -fx-border-width:  0 5 0 0;
    -fx-border-color:#5af4d8;
}
.top-title-pane{
    -fx-max-width: 250px;
}
.combox .cell {
    -fx-text-fill : #eee;

    -fx-border-radius : 0 0 0 0;
    -fx-background-color:#1E6B72;
    -fx-pref-height: 30px;
}
.profile-img{
    -fx-min-height : 150;
    -fx-border-width:  0 5 0 0;
    -fx-border-color:#1E6B72;
}
.profile-img:hover{
    -fx-border-width:  0 5 0 0;
    -fx-border-color:#5af4d8;
}
.combobox-popup .list-view{
    -fx-background-color: #1E6B72;
}
.combobox-popup .list-view .list-cell{
    -fx-background-color: #eee;
    -fx-text-fill: #eee;
    -fx-border-width:  0 0 4 0;
}
.combobox-popup .list-view .list-cell:hover{
    -fx-border-color:#5AF4D8;
    -fx-border-width : 3;
}

.combobox .list-cell .arrow, .combobox .arrow-button{
    -fx-background-color: #EEE;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.topItemHbox{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent transparent #08364D transparent;
    -fx-background-color : #EEE;
    -fx-pref-height : 50px;
    -fx-max-height : 50px;
    -fx-fill-width : true;
    -fx-font-size : 1.0em;
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight : bold; 
    -fx-padding : 0 5 0 0;
}
.topItemHbox:hover{
    -fx-border-color: #5AF4D8;
    -fx-effect:   dropshadow( gaussian , rgba(128,128,128,0.9) , 4.5,0,0,3);
}
.top-item-label{
    -fx-alignment : CENTER;
    -fx-text-alignment : center;
    -fx-text-fill : #1E6B72;
    -fx-pref-width : 90px;
    -fx-fill-width: true;
}
.top-item-icon{
    -fx-max-width : 47px;
    -fx-max-heith : 47px;
    -fx-pref-width: 47px;
    -fx-pref-width:47px;
    -fx-filWidth : 47px;
    -fx-border-radius: 50%;
}
.my-label{
    -fx-font-size : 12px;
    -fx-font-weight : normal;
}
.my-courses-vbox{
    -fx-background-color:#FFF;
    -fx-padding : 0 0 0 0;
}
.coursehbox{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent transparent #08364D transparent;
    -fx-background-color:#fff;
    -fx-pref-height : 60;
    -fx-fill-width : true;
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight : bold; 
    -fx-padding : 0 5 0 0;
}
.coursehbox:hover{
    -fx-border-color: transparent transparent #50BCB6 transparent;
    -fx-effect:   dropshadow( gaussian , rgb(128,128,128) , 4.5,0,2,4); 
    -fx-translate-x : 1;
    -fx-cursor : hand;
}
.hboxbutton{
    -fx-border-color:  transparent transparent #08364D transparent;
    -fx-border-radius: 0;
    -fx-min-width : 60;
    -fx-padding : 0;
    -fx-text-wrap : 1;
    -fx-text-transform: uppercase;
    -fx-text-fill:  #08364D;
}
.long-hbox-label{
    -fx-text-fill:  #08364D;
    -fx-font-weight : normal;
    -fx-font-size : 20px;
    -fx-alignment : CENTER;
    -fx-text-allignment : center;
}

.hboxbutton:hover{

    -fx-border-color:  transparent transparent #50BCB6 transparent;

}

.search-hbox{
    -fx-background-color : #EEE;

}

/* The main scrollbar **track** CSS class  */
.myscrollpane .scroll-bar:horizontal .track,
.myscrollpane .scroll-bar:vertical .track{
    -fx-background-color:#fff;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.myscrollpane .scroll-bar:horizontal .increment-button ,
.myscrollpane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.myscrollpane .scroll-bar:vertical .increment-button ,
.myscrollpane .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.myscrollpane  .scroll-bar .increment-arrow,
.myscrollpane  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";	
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.myscrollpane .scroll-bar:horizontal .thumb,
.myscrollpane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.tableview{
    -fx-background-color: #fff;
}

.tableview:focused{
    -fx-background-color: #eee;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.tableview .column-header-background{
    -fx-background-color:#1E6B72 ;
}

.tableview .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tableview .column-header {
    -fx-background-color: transparent;
}

.tableview .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.tableview > .virtual-flow > .scroll-bar:vertical,
.tableview > .virtual-flow > .scroll-bar:vertical > .track,
.tableview > .virtual-flow > .scroll-bar:vertical > .track-background, 
.tableview > .virtual-flow > .scroll-bar:horizontal,
.tableview > .virtual-flow > .scroll-bar:horizontal > .track,
.tableview > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.tableview > .virtual-flow > .scroll-bar > .increment-button, 
.tableview > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
        );
}